@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  background: #FFFFFF;
}

.button {
    border: 2px solid #900000;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}

.button:hover {
    background: #e68a8a !important;
}

td, th {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #000000;
    padding: 8px;
    }

.table {
    background: grey;
    table-layout: auto;
    border-collapse: collapse;
    }

.table-secondary {
    background: #c0c0c0;
    }

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5px;
}

.links-container {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flex-container-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.flex-container-login p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.flex-container-login form {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navbar .current-page {
    display: none;
}

.CEIP {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    }

.login-title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    }

.form-signin {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      text-align: center !important;
      gap: 10px !important;
    }

.login-mb-3 {
      margin-bottom: 10px;
    }

