{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
        button {
            width: 400px;
            }

        .button:hover {
            background: #e68a8a !important;
            }

    </style>

</head>
<body>

    <div class="title-container">
        <h1 style="color:#900000">Administracion de alumnos:</h1>
        <a href="{% url 'add_alumn' %}"><button type="submit" class="button btn-outline-danger text-black">Añadir Alumno</button></a>
        <a href=""><button type="submit" class="button btn-outline-danger text-black">Editar/Borrar alumno</button></a>
    </div>

</body>

{% endblock content %}