{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Alumno</title>

    <style>
        .detail_view {
        width: 1200px;
        border: 2px solid #900000;
        background-color: #FFFFFF;
        color: #000000;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        flex-direction: column;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        align-items: center;
        }

    </style>
</head>
<body>

    <div class="flex-container">
        <div class="detail_view">
            <h1>Alumno: {{alumn}}</h1>

            <p>Grupo: {{alumn_full_view.Grupo}}</p>
            <p>Foto: {{alumn_full_view.Fotografia}}</p>
            <p>Sexo: {{alumn_full_view.Sexo}}</p>
            <p>Tutor/a: {{alumn_full_view.Tutor_a}}</p>
            <p>Observaciones: {{alumn_full_view.Observaciones}}</p>
            <p>Pruebas externas: {{alumn_full_view.PET_KET}}</p>
            <p>Calificaciones: {{alumn.Calificaciones}}</p>
            <p>Contacto padre: {{alumn_full_view.Telefono_contacto_padre}}</p>
            <p>Nombre padre: {{alumn_full_view.Nombre_padre}}</p>
            <p>Email padre: {{alumn_full_view.Email_padre}}</p>
            <p>Contacto madre: {{alumn_full_view.Telefono_contacto_madre}}</p>
            <p>Nombre madre: {{alumn_full_view.Nombre_madre}}</p>
            <p>Email madre: {{alumn_full_view.Email_madre}}</p>
            <p>Personas autorizadas recogida: {{alumn_full_view.Personas_autorizadas_recogida}}</p>
            <p>Comedor: {{alumn_full_view.Comedor}}</p>
            <p>Alergias: {{alumn_full_view.Alergias}}</p>
            <p>IBAN: {{alumn_full_view.IBAN}}</p>
            <p>Titular cuenta: {{alumn_full_view.Titular_cuenta}}</p>
            <p>Beca comedor: {{alumn_full_view.Beca_comedor}}</p>
            <p>Pagos pendientes: {{alumn_full_view.Pagos_pendientes}}</p>
            <p>Adhesion Accede: {{alumn_full_view.Adhesion_Accede}}</p>
            <p>Señal Accede: {{alumn_full_view.Senal_Accede}}</p>

        <a href="{% url 'alumns_administration' %}" class="button" style="display: inline-block; text-align: center; width: 400px; font-size: 18px; background:#900000; color: #FFFFFF; padding: 10px; text-decoration: none;">
                          Volver</a>
        </div>
    </div>
</body>
{% endblock content %}