{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<head>
    <style>

      .delete-form {
        width: 1200px;
        border: 2px solid #900000;
        background-color: #FFFFFF;
        color: #000000;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        flex-direction: column;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        align-items: center;
        }

    </style>
</head>
<body>
  <div class="flex-container">
    <form class="delete-form"  method="POST">
        {% csrf_token %}
        <p>Vas a eliminar este alumno: "{{alumn}}"</p>
        <input class='button' style="width: 400px; font-size: 18px;" type="submit" value="Eliminar">
        <a href="{% url 'administration' %}" class="button" style="display: inline-block; text-align: center; width: 400px; font-size: 18px; background:#900000; color: #FFFFFF; padding: 10px; text-decoration: none;">
                  Volver
              </a>
    </form>
  </div>
</body>

{% endblock content %}