{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Alumno</title>
</head>
<body>
<h1>Alumno: {{alumn}}</h1>

    <p>Grupo: {{alumno.Grupo}}</p>
    <p>Foto: {{alumn.Fotografia}}</p>
    <p>Sexo: {{alumn.Sexo}}</p>
    <p>Tutor/a: {{alumn.Tutor_a}}</p>
    <p>Observaciones: {{alumn.Observaciones}}</p>
    <p>Pruebas externas: {{alumn.PET_KET}}</p>
    <p>Contacto padre: {{alumn.Telefono_contacto_padre}}</p>
    <p>Nombre padre: {{alumn.Nombre_padre}}</p>
    <p>Email padre: {{alumn.Email_padre}}</p>
    <p>Contacto madre: {{alumn.Telefono_contacto_madre}}</p>
    <p>Nombre madre: {{alumn.Nombre_madre}}</p>
    <p>Email madre: {{alumn.Email_madre}}</p>
    <p>Personas autorizadas recogida: {{alumn.Personas_autorizadas_recogida}}</p>
    <p>Comedor: {{alumn.Comedor}}</p>
    <p>Alergias: {{alumn.Alergias}}</p>
    <p>IBAN: {{alumn.IBAN}}</p>
    <p>Titular cuenta: {{alumn.Titular_cuenta}}</p>
    <p>Beca comedor: {{alumn.Beca_comedor}}</p>
    <p>Pagos pendientes: {{alumn.Pagos_pendientes}}</p>
    <p>Adhesion Accede: {{alumn.Adhesion_Accede}}</p>
    <p>Señal Accede: {{alumn.Senal_Accede}}</p>

</body>
{% endblock content %}