{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Styles -->
    <style>
        th {
            color: white;
          }

        #alumn-link {
                color: #900000;
            }

          #alumn-link:visited {
              color: #900000;
            }

    </style>
</head>
<body>
<div class="flex-container">
      <h1>Gestión Económica</h1>
        <form class="find-form" method="GET">
            <input type="text" name="find_area" value="{{finded_value}}" placeholder="Nombre del alumno" style="width:400px; height:40px; text-decoration: none;">
            <input class='button' type="submit" value="Buscar alumno">
            <a href="{% url 'home' %}" class="button" style="display: inline-block; text-align: center; width: auto; font-size: 14px; background:#900000; color: #FFFFFF; padding: 10px; text-decoration: none;">
                Volver
            </a>
        </form>
      <p>Total de resultados: {{ count }}</p>
    <br>
    </div>

<div class="flex-container">
      <table class="table table-bordered border-dark">
        <thead>
          <tr class="table-primary" style="background: #900000">
            <th scope="col">Grupo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Comedor</th>
            <th scope="col">IBAN</th>
            <th scope="col">Titular cuenta</th>
            <th scope="col">Beca comedor</th>
            <th scope="col">Nº Pagos pendientes:</th>
          </tr>
        </thead>
        <tbody>

      {% for alumn in alumn_list %}
        <tr class="table-secondary">
            <td>{{alumn.Grupo}}</td>
            <td><a href="{% url 'alumn'  alumn.id  %}" id="alumn-link">{{alumn.Nombre}}</a></td>
            <td>{{alumn.Comedor}}</td>
            <td>{{alumn.IBAN}}</td>
            <td>{{alumn.Titular_cuenta}}</td>
            <td>{{alumn.Beca_comedor}}</td>
            <td>{{alumn.Pagos_pendientes}}</td>
        </tr>

      {% endfor %}

      </tbody>
    </table>
    </div>

</body>

{% endblock content %}
