{% extends 'core/base.html' %}
{% block content %}
{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CEIP Miguel de Cervantes</title>

        <style>
            button {
                width: 400px;
                }

            .button:hover {
                background: #e68a8a !important;
                }

        </style>

    </head>
    <body>
        <div class="title-container">
            <h1 style="color:#900000">Bienvenido/a<br>al sistema Raíces</h1>
            <a href="{% url 'alumn_list' %}"><button type="submit" class="button btn-outline-danger text-black">Alumnos</button></a>
            <a href="{% url 'external_tests' %}"><button type="submit" class="button btn-outline-danger text-black">Pruebas externas</button></a>
            <a href="{% url 'califications' %}"><button type="submit" class="button btn-outline-danger text-black">Calificaciones</button></a>
            <a href="{% url 'parents_contact' %}"><button type="submit" class="button btn-outline-danger text-black">Contacto alumnos</button></a>
            <a href="{% url 'economy' %}"><button type="submit" style="background-color: #AAAAAA" class="button btn-outline-danger text-black">Gestión económica</button></a>
            <a href="{% url 'accede' %}"><button type="submit" style="background-color: #AAAAAA" class="button btn-outline-danger text-black">Accede</button></a>
            <a href="{% url 'administration' %}"><button type="submit" style="background-color:#AAAAAA" class="button btn-outline-danger text-black">Administracion de alumnos</button></a>
            <a href="{% url 'teacher_management' %}"><button type="submit" style="background-color:#AAAAAA" class="button btn-outline-danger text-black">Gestión del profesorado</button></a>
        </div>
    </body>
{% endblock content %}
