{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Usuario</title>

    <style>
        .detail_view {
        width: 1200px;
        border: 2px solid #900000;
        background-color: #FFFFFF;
        color: #000000;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        flex-direction: column;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        align-items: center;
        }

    </style>
</head>
<body>

    <div class="flex-container">
        <div class="detail_view">
            <h1>Usuario: {{user}}</h1>

                <p>Username: {{user.username}}</p>
                <p>Nombre: {{user.first_name}}</p>
                <p>Apellidos: {{user.last_name}}</p>
                <p>Email: {{user.email}}</p>
                <p style="display: inline;">Grupo(s) del usuario:</p>
                {% for group in user.groups.all %}
                    <span style="display: inline; margin-left: 5px;">{{ group.name }}</span>
                {% empty %}
                    <span style="display: inline; margin-left: 5px;">No pertenece a ningún grupo.</span>
                {% endfor %}
                <br>

            <a href="{% url 'teacher_management' %}" class="button" style="margin-top: 30px; display: inline-block; text-align: center; width: 400px; font-size: 18px; background:#900000; color: #FFFFFF; padding: 10px; text-decoration: none;">
                              Volver</a>
        </div>
    </div>
</body>
{% endblock content %}