{% extends 'core/base.html' %}
{% load static %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profesorado</title>

    <style>
      .user-link {
            color: #900000;
        }

      .user-link:visited {
          color: #900000;
        }
    </style>

  </head>
  <body>
    <br>

    <div class="flex-container">
        <h1>Lista de usuarios</h1>
        <form class="find-form" method="GET">
            <input type="text" name="find_area" value="{{finded_value}}" placeholder="Nombre del usuario" style="width:400px; height:40px; text-decoration: none;">
            <input class='button' type="submit" value="Buscar profesor">
            <a href="{% url 'teacher_management' %}" class="button" style="display: inline-block; text-align: center; width: auto; font-size: 14px; background:#900000; color: #FFFFFF; padding: 10px; text-decoration: none;">
                Volver
            </a>
        </form>
    </div>

    <br>

    <div class="flex-container">
      <table class="table table-bordered border-dark">
      <thead>
        <tr class="table-primary" style="background: #900000">
          <th scope="col" style="color:white;">Username</th>
        </tr>
      </thead>
      <tbody>

      {% for teacher in teachers_list %}
        {% if teacher.name != "admin" %}

          <tr class="table-secondary">
            <td><a href="{% url 'user' teacher.id %}" class="user-link">{{ teacher.name }}</a></td>
          </tr>
        {% endif %}

      {% endfor %}

      </tbody>
    </table>

  </div>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>-->
  </body>
{% endblock content %}
