{% extends 'core/base.html' %}
{% block content %}

  <style>
        .user-form {
        width: 1200px;
        border: 2px solid #900000;
        background-color: #FFFFFF;
        color: #000000;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        flex-direction: column;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        align-items: center;
        }

    </style>

<body>
  <div class="flex-container">
    <h2>Editar Usuario</h2>
    <form method="post" class="user-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button" type="submit">Guardar cambios</button>
    </form>
    <br>
    <a href="{% url 'teacher_management' %}" class="button">Cancelar</a>

  </div>
</body>

{% endblock content %}