{% extends 'core/base.html' %}
{% load static %}
<head>
  <style>



  </style>
</head>

{% block content %}
<main class="form-signin">
  <form action="" method="post">
    {% csrf_token %}

    <div class="login-title">Iniciar Sesión</div>

    <div class="login-mb-3">
      <label for="exampleInputEmail1" class="form-label float-md-start">Email</label>
      <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="email@email.com" style="margin-left:10px">
    </div>
    <div class="login-mb-3">
      <label for="exampleInputPassword1" class="form-label float-md-start">Contraseña</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1" style="margin-left:10px">
    </div>

    <button style="margin-top:20px" class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesión</button>
  </form>
</main>

{% endblock content %}
