{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<head>
    <style>
        .user-form {
        width: 1200px;
        border: 2px solid #900000;
        background-color: #FFFFFF;
        color: #000000;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        flex-direction: column;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        align-items: center;
        }

        input:hover {
            background: #e68a8a !important;
        }

    </style>
</head>
<body>

    <div class="flex-container">
        <h1>Registrar usuario:</h1>

        <form class="user-form" method="POST" action="">
            {% csrf_token %}
            <label>{{form.username.label}}</label>
                {{form.username}}

            <label>{{form.password1.label}}</label>
                {{form.password1}}

            <label>{{form.password2.label}}</label>
                {{form.password2}}
            <input style= "display: inline-block; text-align: center; width: 400px; font-size: 18px; background:#FFFFFF; padding: 10px; text-decoration: underline; border: 2px solid #900000;" class='boton' type="submit" value="Crear usuario">
            <a href="{% url 'administration' %}" class="button" style="display: inline-block; text-align: center; width: 400px; font-size: 18px; background:#900000; color: #FFFFFF; padding: 10px; text-decoration: none;">
                Volver
            </a>
        </form>
    </div>
</body>

{% endblock content %}